* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.pageLayout{
    font-family: Arial, sans-serif, Helvetica;
    color: #222;
    line-height: 1.5;
}
.pageLayoutServices{
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr); /* Content, sidebar*/
    gap: 20px;
    background-color: #2a2a2a;
    padding: 20px;
    color: white;
}


nav {
    padding: 32px 32px;
    min-height: 80px;
    background-color: #1F1F1F;
}

nav img {
    max-height: 48px;
    background-color: white;
}

.spacer {
    /*border: 1px solid yellow;*/
    display: inline-block;
    /*Parent widtj - Logo width - menu <ul> width with no margin in the last child*/
    width: calc(100% - 40px - 268px);
}

nav ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: small;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a.currant {
    color: aqua;
    font-weight: bold
}

nav ul li a:hover{
    color: orange;
}

nav ul li a:active{
    color: green;
}

footer{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}